body{
    background-color: #F5F5DC;
}

#container{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}


#titulo h2{
    text-align: center;

}

#menu ul{
    list-style: none;
}

#menu ul li{
    display: inline;
    padding: 10px;
    
}

#menu ul li a{
    text-decoration: none;
    color:#8B1A1A;
}

#capa{
  width:auto;
}

#capa img{
    width:100%;
    height:600px;
}

.imagens_promo h3{
    text-align: center;
}

.imagens_promo img{
    width:200px;
    height:200px;
}

.imagens_promo{
    display: inline-block;
    padding: 10px;   
}

#central{
    text-align:center;
}

#rodape{   
    background-color:#8B1A1A;
    color: white;
    height:240px; 

}

.rodape2{
    display:inline-block;
    vertical-align: top;
    padding:10px;
    width:250px;
       
   
}

.rodape2 img{
    width:60px;
    height:60px;
}

.rodape2 ul{
    list-style: none;
}



#rodape3{
    background-color:#838B83;
    height:60px; 
    text-align:center;    
}

.y{
    padding:30px;
}

.y img{
    height:200px;
}

#menu2 ul li a{
   
    color:#8B1A1A;
   
}

.formulario{
    color:chartreuse;
}

.historia .row{
    padding:20px;
}

#tabela{
  border: solid 1px #8B1A1A; 
  background-color: darkcyan;
}

#tabela th, #tabela td{
    border:solid 1px #838B83;
}








